@media (max-width: 1200px) {

    section {
        padding-left: 0;
        padding-right: 0;
    }

    .container {
        max-width: 100%;
    }

    .section_title_all.header {
        width: 75%;
    }

}

@media (max-width: 1000px) {

    .section_title_all.header {
        width: 75%;
    }

    .section_four {
        padding-left: 0;
        padding-right: 0;
    }

    .section_four {
        width: 100%;
    }

    .section_four_strike_text {
        flex-wrap: wrap;
    }

    .strike_text_item {
        width: 100%;
        text-align: center;
    }

    .p_section_five_cards_item {
        width: 100%;
        text-align: center;
    }

    .section_five_cards {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .section_five {
        padding-right: 0;
        padding-left: 0;
    }

    .container.container_section_five {
        width: 100%;
    }

    .p_section_seven {
        margin-bottom: 300px;
    }

    .section_ten {
        padding-left: 0;
        padding-right: 0;
    }

    .section_ten.continer {
        width: 100%;
    }

    .section_ten_cards {
        grid-template-columns: repeat(2, 1fr);
        align-items: baseline;
        justify-items: center;
    }

    .section_ten_cards_item {
        margin-bottom: 30px;
    }

    .section_eleven_subCards{
        max-width: 100%;
        margin-bottom: 20px;
    }

    .section_eleven_header{
        margin-top: 20px;
    }
}

@media (max-width: 800px) {

    .section_title_all.header {
        font-size: 5.4rem;
    }

    .section_two_title {
        padding-top: 100px;
    }

    .section_title_all {
        font-size: 5.4rem;
    }

    .section_four_footer {
        padding-left: 0;
        padding-right: 0;
    }

    .section_four_footer_left_2 {
        font-size: 3.5rem;
    }

    .section_five_footer_left_text_1 {
        font-size: 3rem;
    }

    .section_five_footer_right_item a {
        font-size: 1.8rem;
    }

    .section_five_footer_left_text_2 {
        flex-wrap: wrap;
    }

    .section_five_footer_left_text_2_1 {
        width: 100%;
        text-align: center;
    }

    .section_five_footer_left_text_2_2 {
        width: 100%;
        text-align: center;
        margin-left: 0rem;
    }

    .section_eight_slider{
        margin-bottom: 0;
    }
    .section_eight_slider_item {
        flex-wrap: wrap;
        padding-left: 0;
    }

    .section_eight_slider_item.item_2 {
        flex-wrap: wrap;
    }

    .sect_eight_sl_top_left {
        left: 10px;
    }

    .sect_eight_sl_left {
        width: 100%;
        /*padding-left: 0;*/
    }

    .sect_eight_sl_left_all_txt {
        width: 100%;
        text-align: center;
        margin-left: 0;
        left: 0;

    }

    .sect_eight_sl_left_all {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 0;
    }

    .sect_eight_sl_right {
        /*border: solid;*/
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sect_eight_sl_right_text {
        font-size: 1.4rem;
        max-width: 75%;
    }

    .sect_eight_sl_right_footer {
        margin-top: 20px;
        padding-left: 0;
    }

    .sect_eight_sl_right_text {
        padding-left: 0;
        text-align: center;
    }

    .sect_eight_sl_right_title {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }


    .section_ten_cards {
        grid-template-columns: repeat(1, 1fr);
        align-items: baseline;
        justify-items: center;
    }

    .section_eleven_title {
        font-size: 5.5rem;
    }

    .section_eleven_subtitle {
        font-size: 1.8rem;
    }

    .section_eleven_input {
        padding-left: 50px;
        padding-right: 50px;
    }

    .section_eleven_foot_1{
        display: none;
    }

    .section_eleven_foot_2{
        max-width: 100%;
    }

    .section_eleven_subCards{
        max-width: 100%;
        margin-bottom: 20px;
    }

    .section_eleven_subtitle{
        max-width: 75%;
    }

    .section_eleven_header{
        padding-left: 0;
    }
}

@media (max-width: 600px) {
    .section_eleven_title {
        font-size: 4.5rem;
    }

    .section_eleven_subtitle {
        font-size: 1.2rem;
    }

    .section_eleven_input {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section_eleven_header{
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 550px) {

    .section_four_footer {
        flex-wrap: wrap;
    }

    .section_four_footer_left {
        width: 100%;
    }

    .section_four_footer_left_2 {
        max-width: 100%;
        text-align: center;
    }

    .section_four_footer_left_1 {
        max-width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .section_four_footer_right {
        max-width: 100%;
    }

    .section_four_footer_right_item {
        margin-bottom: 25px;
    }

    .section_five_footer_left_text_1 {
        font-size: 3rem;
    }

    .sect_eight_sl_left_all {
        margin-left: 0;
    }

    .sect_eight_sl_right_footer_item{
        text-align: center;
        justify-content: center;
    }


    .span_section_nine {
        font-size: 2.5rem;
    }

    .li_section_nine {
        font-size: 1.5rem;
    }

    .span_section_nine_left {
        font-size: 1.5rem;
        padding-right: 50px;
    }

    .section_title_all.sect_ten {
        font-size: 4.5rem;
    }

    .section_eleven_title {
        font-size: 3rem;
    }

    .section_two_footer {
        flex-wrap: wrap;
    }

    .section_two_footer_item {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .section_footer_right_menu_item{
        margin-top: 0;
    }
    .section_footer_right_logo{
        text-align: left;
        margin-top: 0;
    }

    .section_footer_right{
        display: flex;
        justify-content: space-around;
    }

    .section_footer_right_menu{
        align-items: center
    }

    .section_footer_left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section_footer_left_title{
        text-align: center;
        min-width: 90%;
    }

    .section_footer_left_social_item {
        margin-top: 20px;
    }

    .section_eleven_header{
        margin-top: 5px;
    }

    .section_btn{
        margin-top: 10px;
    }

    .section_eleven_input{
        margin-bottom: 20px;
    }

    .section_eleven_header{
        margin-left: 0;
    }

    .section_eleven_subtitle{
        max-width: 100%;
    }

    .section_eleven_header{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 400px) {

    .section_title_all {
        font-size: 4.4rem;
    }

    .section_three_title {
        font-size: 3rem;
    }

    .section_five_footer_left_text_1 {
        font-size: 2rem;
    }

    /*.section_nine_right{*/
    /*    margin-left: 50px;*/
    /*}*/
    .section_title_all.sect_ten {
        font-size: 4rem;
    }
}